<html>
    <head>
        <title>WeConnect | Business Profile </title>
             <!--Import Google Icon Font-->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!-- Compiled and minified CSS -->
             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
             <link rel="stylesheet" href="style.css">
             <link rel="stylesheet" href="business.css">

 
          
        
        </head> 
        <body>
        <div class="nav-business">
            <div class="">
                    <ul id="dropdown1" class="dropdown-content">
                            <li><a href="newBusiness.html">New Business</a></li>
                            <li><a href="business.html">Business</a></li>
                            
                          </ul>
                <nav>
                        <div class="nav-wrapper">
                          <a href="#" class="brand-logo">weCo<span class="logo">nn</span>ect</a>
                          <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="index.html" class="active">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="business.html">Business</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="signup.html">SignUp</a></li>
                            <li><a href="profile.html">Profile</a></li>
                            
                          </ul>
                        </div>
                      </nav>
                    </div>

                    <div class="container">
                            
                    <div class="row register-business">
                        <div class="col s10 offset-s1">
                            <h3 class="center-align">Smart Hub...</h3>
                           
                           
                        </div>
                          
                    </div>
              
           </div>
        </div>
    </div>
        <div class="container">
                <div class="row">
                        <div class="col s10 offset-s1">
                         <p class="p-body">
                                Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.

                                Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.
                                
                                What was most significant about the lunar voyage was not that man set foot on the Moon but that they set eye on the earth.
                         </p>
                         <p class="p-body">
                           <b>Business Location:</b> Abuja<br>
                           <span><b>30</b> reviews</span>
                           <br>
                           <b>Category:</b><span class="label">Network</span><br>
                           
                         </p>
                        </div>
                      </div>

                      <div class="row">
                            <div class="col s10 offset-s1">
                            <a href="#!"><i class="small material-icons">favorite_border</i></a> <br>
                            <b id="like-count">21 likes</b>
                            
                            </div>
                      </div>
                      <div class="row">
                          <div class="col s10 offset-s1">
                           
                            <div class="input-field">
                                <i class="material-icons prefix">rate_review</i>
                                <textarea id="textarea1" class="materialize-textarea" value=""></textarea>
                                <label for="textarea1">review...</label>
                              </div><br>
                              <div class="input-field">
                                  <button class="btn waves-effect waves-light btn_large" type="submit" name="action">Post
                                          <i class="material-icons left">send</i>
                                        </button>
                            </div><br>
                        </div>
                      </div>

                      <div class="row">
                          <div class="col s10 offset-s1">

                            <h3>Reviews</h3>
                            <div class="row">
                              <div class="col s3">
                                  <img src="images/amaka_img.jpeg" class="image"/>
                              </div>

                              <div class="col s9">
                                <p class="">
                                    Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.
                                  <br>by: <b>Annmary Amaka</b>
                                </p>
                                
                              </div>
                            </div><hr>
                            <div class="row">
                                <div class="col s3">
                                    <img src="images/login2.jpg" class="image"/>
                                </div>
  
                                <div class="col s9">
                                  <p class="">
                                      Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals.
                                    <br>by: <b>Annmary Amaka</b>
                                  </p>
                                  
                                </div>
                              </div><hr>
                              <div class="row">
                                  <div class="col s3">
                                      <img src="images/amaka_img.jpeg" class="image"/>
                                  </div>
    
                                  <div class="col s9">
                                    <p class="">
                                        Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.
                                      <br>by: <b>Annmary Amaka</b>
                                    </p>
                                    
                                  </div>
                                </div>
                            </div>

                      </div>
       
        </div>

        <footer class="page-footer">
                <div class="container">
                  <div class="row">
                    <div class="col l6 s12">
                      <h5 class="white-text">weConnect</h5>
                      <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                      <h5 class="white-text">Links</h5>
                      <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                        <li><a cl
                            ass="grey-text text-lighten-3" href="#!">Contact</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Business</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer-copyright">
                  <div class="container center-align">
                  © 2014 Copyright weConnect<br>
                  <a class="grey-text text-lighten-4" href="#!">by <span>Annie_maks</span></a>
                  </div>
                </div>
              </footer>
            
             <!-- Compiled and minified JavaScript -->
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script>
        $(document).ready(function() {
            $('select').material_select();
            $(".dropdown-button").dropdown();
        });
        </script>
        </body>
</html>