.nav-business{
    background-image: url('images/business.jpg');
    background-repeat:no-repeat; 
    background-size: cover;
    margin:0px;
    padding: 0px;
    height: 450px;
    
}

.search{
    color:#fff;
    margin-top: 280px;
    padding-top:15px;
    padding-bottom:15px;
    position: relative;
    background:rgb(20, 20, 20);
    border: 2px solid #ff0000;
    
}

.business-section{
    margin-top: 200px;
    
}
.card-image{
    height: 200px;
}