<html>
    <head>
        <title>WeConnect | Business Page </title>
             <!--Import Google Icon Font-->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!-- Compiled and minified CSS -->
             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
             <link rel="stylesheet" href="css/style.css">
             <link rel="stylesheet" href="css/business.css">

 
          
        
        </head> 
        <body>
        <div class="nav-business">
            <div class="">
                    
                <nav>
                        <div class="nav-wrapper">
                          <a href="#" class="brand-logo">weCo<span class="logo">nn</span>ect</a>
                          <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="index.html" class="active">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="business.html">Business</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="signup.html">SignUp</a></li>
                            <!-- <li><a href="profile.html">Profile</a></li> -->
                            
                          </ul>
                        </div>
                      </nav>
                    </div>

                    <div class="container search-box">
                            
                    <div class="card row search">
                        <div class="col s10 offset-s1">
                            <h3 class="center-align">Search For Business</h3>
                            
                            <div class="row">
                                    <form>
                                        <div class="col s3">
                                                <div class="input-field">
                                                        <input id="icon_prefix" type="text" class="validate">
                                                        <label for="icon_prefix">Enter Keyword</label>
                                                      </div>
                                        </div>
                                        <div class="col s3">
                                                <div class="input-field">
                                                        <select>
                                                                <option value="" disabled selected>Choose Category</option>
                                                                <option value="1">IT</option>
                                                                <option value="2">Marketing</option>
                                                                <option value="3">Sports</option>
                                                         </select>
                                                         
                                            </div>
                                        </div>

                                        <div class="col s3">
                                                <div class="input-field">
                                                    <select name="category">
                                                        <option value="" disabled selected>Choose Location</option>
                                                        <option>Abia</option>
                                                        <option>Abuja</option>
                                                        <option>Lagos</option>
                                                    </select>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                                <button class="btn waves-effect waves-light btn_large" type="submit" name="action">Search
                                                        <i class="material-icons right">search</i>
                                                      </button>
                                        </div>
                                    </form>
                            </div>
                           
                        </div>
                          
                    </div>
              
           </div>
        </div>
    </div>
        <div class="container business-section">
            <div class="row section1">
                <h4 class="">IT</h4>
                <div class="row">
                    <div class="col s4">
                            <div class="card" style="overflow: visible;">
                                    <div class="card-image waves-effect waves-block waves-light">
                                      <img class="activator" id="activator" src="images/bu.jpg">
                                    </div>
                                    <div class="card-content">
                                      <span class="card-title activator grey-text text-darken-4">Smart Hub<i class="material-icons right">more_vert</i></span>
                      
                                      <p><a href="#!">Smart hub business deals with ...</a></p>
                                    </div>
                                    <div class="card-reveal" style="display: none; transform: translateY(0px);">
                                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                      
                                    <div class="card-action">
                                      <a href="businessProfile.html">Read more...</a>
                                     
                                    </div>
                                  </div>
                    </div>
                    <div class="col s4">
                            
                            <div class="card" style="overflow: visible;">
                                    <div class="card-image waves-effect waves-block waves-light">
                                      <img class="activator" id="activator" src="images/background2.png">
                                    </div>
                                    <div class="card-content">
                                      <span class="card-title activator grey-text text-darken-4">E-Connect<i class="material-icons right">more_vert</i></span>
                      
                                      <p><a href="businessProfile.html">E-Connect helps you to connect...</a></p>
                                    </div>
                                    <div class="card-reveal" style="display: none; transform: translateY(0px);">
                                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                      
                                    <div class="card-action">
                                        <a href="businessProfile.html">Read more...</a>
                                     
                                    </div>
                                  </div>
                    </div>
                    <div class="col s4">
                            
                            <div class="card" style="overflow: visible;">
                                    <div class="card-image waves-effect waves-block waves-light">
                                      <img class="activator" id="activator" src="images/login.jpg">
                                    </div>
                                    <div class="card-content">
                                      <span class="card-title activator grey-text text-darken-4">Projaro<i class="material-icons right">more_vert</i></span>
                      
                                      <p><a href="businessProfile.html">We develop softwares system...</a></p>
                                    </div>
                                    <div class="card-reveal" style="display: none; transform: translateY(0px);">
                                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                      
                                    <div class="card-action">
                                        <a href="businessProfile.html">Read more...</a>
                                    </div>
                                  </div>
                    </div>
                </div>

                <h4 class="">Marketing</h4>
                <div class="row">
                        <div class="col s4">
                                <div class="card" style="overflow: visible;">
                                        <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" id="activator" src="images/background2.png">
                                        </div>
                                        <div class="card-content">
                                          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                          
                                          <p><a href="#!">This is a link</a></p>
                                        </div>
                                        <div class="card-reveal" style="display: none; transform: translateY(0px);">
                                          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                        </div>
                          
                                        <div class="card-action">
                                            <a href="businessProfile.html">Read more...</a>
                                        </div>
                                      </div>
                        </div>
                        <div class="col s4">
                                
                                <div class="card" style="overflow: visible;">
                                        <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" id="activator" src="images/background2.png">
                                        </div>
                                        <div class="card-content">
                                          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                          
                                          <p><a href="#!">This is a link</a></p>
                                        </div>
                                        <div class="card-reveal" style="display: none; transform: translateY(0px);">
                                          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                        </div>
                          
                                        <div class="card-action">
                                            <a href="businessProfile.html">Read more...</a>
                                        </div>
                                      </div>
                        </div>
                        <div class="col s4">
                                
                                <div class="card" style="overflow: visible;">
                                        <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" id="activator" src="images/login.jpg">
                                        </div>
                                        <div class="card-content">
                                          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                          
                                          <p><a href="#!">This is a link</a></p>
                                        </div>
                                        <div class="card-reveal" style="display: none; transform: translateY(0px);">
                                          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                        </div>
                          
                                        <div class="card-action">
                                            <a href="businessProfile.html">Read more...</a>
                                        </div>
                                      </div>
                        </div>
                    </div>
            </div>
        </div>

        <footer class="page-footer">
                <div class="container">
                  <div class="row">
                    <div class="col l6 s12">
                      <h5 class="white-text">weConnect</h5>
                      <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l3 s6 right-align"> 
                      <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                      </ul>
                    </div>
                    <div class="col l3 s6 right-align">
                      <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Business</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer-copyright">
                  <div class="container center-align">
                  © 2014 Copyright weConnect<br>
                  <a class="grey-text text-lighten-4" href="#!">by <span>Annie_maks</span></a>
                  </div>
                </div>
              </footer>
            
             <!-- Compiled and minified JavaScript -->
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script>
        $(document).ready(function() {
            $('select').material_select();
            $(".dropdown-button").dropdown();
        });
        </script>
        </body>
</html>