<html>
    <head>
        <title>WeConnect | Profile Page </title>
            
            <link rel="stylesheet" href="css/profile.css">
             <!--Import Google Icon Font-->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!-- Compiled and minified CSS -->
             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
            
             <link rel="stylesheet" href="css/style.css">
             <link rel="stylesheet" href="css/business.css">
 
          
        
        </head> 
        <body>
        <div class="profile-nav">
            <div class="">
                    <ul id="dropdown1" class="dropdown-content">
                            <li><a href="newBusiness.html">New Business</a></li>
                            <li><a href="business.html">Business</a></li>
                            
                          </ul>
                <nav>
                        <div class="nav-wrapper">
                          <a href="#" class="brand-logo">weCo<span class="logo">nn</span>ect</a>
                          <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="index.html" class="active">Home</a></li>
                            <li><a href="business.html">Business</a></li>
                            <li><a href="login.html">Logout</a></li>
                            
                          </ul>
                        </div>
                      </nav>
                    </div>

                    

                        <div class="container">
                            
                            <div class="row center-align image-box" >
                                <div class="col s10 offset-s1">
                                    <img src="images/amaka_img.jpeg" class="profile-image"/>
                                   
                                </div>
                                <div class="col s10 offset-s1">
                                    <h5>Annmary Agunanna</h5>
                                    <span class=""><em>annmaryamaka@gmail.com</em></span>
                              </div>
                                  
                            </div>
           </div>
        </div>
    </div>
        <div class="container profile-section">
            <div class="row section1">
              <div class="row right-align">
                 <a href="registerBusiness.html" class="btn waves-effect waves-light btn_large " type="submit" name="action">Create New Business
                  <i class="material-icons left">add</i>
                 </a>
              </div>
                <h4 class="">List of Your business</h4>
                <div class="row">
                    <div class="col s4">
                            <div class="card" style="overflow: visible;">
                                    <div class="card-image waves-effect waves-block waves-light">
                                      <img class="activator" id="activator" src="images/bu.jpg">
                                    </div>
                                    <div class="card-content">
                                      <span class="card-title activator grey-text text-darken-4">Smart Phones<i class="material-icons right">more_vert</i></span>
                      
                                      <p>This platform is used to sell...</p>
                                    </div>
                                    <div class="card-reveal" style="display: none; transform: translateY(0px);">
                                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                      
                                    <div class="card-action">
                                      <a href="updateBusiness.html" type="button">Edit</a>
                                      <a href="businessProfile.html" type="button">View</a>
                                      <a href="businessProfile.html" type="button">Delete</a>
                                    </div>
                                  </div>
                    </div>
                    <div class="col s4">
                            
                            <div class="card" style="overflow: visible;">
                                    <div class="card-image waves-effect waves-block waves-light">
                                      <img class="activator" id="activator" src="images/background2.png">
                                    </div>
                                    <div class="card-content">
                                      <span class="card-title activator grey-text text-darken-4">Fashion House<i class="material-icons right">more_vert</i></span>
                      
                                      <p>For your designer clothes and...</p>
                                    </div>
                                    <div class="card-reveal" style="display: none; transform: translateY(0px);">
                                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                      
                                    <div class="card-action">
                                        <a href="updateBusiness.html" type="button">Edit</a>
                                        <a href="businessProfile.html" type="button">View</a>
                                        <a href="businessProfile.html" type="button">Delete</a>
                                    </div>
                                  </div>
                    </div>
                    <div class="col s4">
                            
                            <div class="card" style="overflow: visible;">
                                    <div class="card-image waves-effect waves-block waves-light">
                                      <img class="activator" id="activator" src="images/login.jpg">
                                    </div>
                                    <div class="card-content">
                                      <span class="card-title activator grey-text text-darken-4">Puff Puff<i class="material-icons right">more_vert</i></span>
                      
                                      <p>Get you sweet and soft ...</p>
                                    </div>
                                    <div class="card-reveal" style="display: none; transform: translateY(0px);">
                                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                      
                                    <div class="card-action">
                                        <a href="updateBusiness.html" type="button">Edit</a>
                                        <a href="businessProfile.html" type="button">View</a>
                                        <a href="businessProfile.html" type="button">Delete</a>
                                    </div>
                                  </div>
                    </div>
                </div>

            </div>
        </div>

        <footer class="page-footer">
                <div class="container">
                  <div class="row">
                    <div class="col l6 s12">
                      <h5 class="white-text">weConnect</h5>
                      <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l3 s6 right-align"> 
                      <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                      </ul>
                    </div>
                    <div class="col l3 s6 right-align">
                      <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Business</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer-copyright">
                  <div class="container center-align">
                  © 2014 Copyright weConnect<br>
                  <a class="grey-text text-lighten-4" href="#!">by <span>Annie_maks</span></a>
                  </div>
                </div>
              </footer>
            
             <!-- Compiled and minified JavaScript -->
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script>
        $(document).ready(function() {
            $('select').material_select();
            $(".dropdown-button").dropdown();
        });
        </script>
        </body>
</html>