html{
    margin:0px;
    padding: 0px; 
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
   
  }

  main {
    flex: 1 0 auto;
  }
  .logo{
    color:red;
}
.nav-background{
    background-image: url('images/background3.png');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    margin:0px;
    padding: 0px;
    height: 600px;
}

nav{
   background: transparent; 
   -webkit-box-shadow:0 0 0 0px;
   box-shadow:0 0 0 0px;
   padding:0 100px 0 120px;
   
}

nav a:hover {
    background: rgba(10, 8, 8, 0.897);
    color: red;
  }

.nav-wrapper{
    padding-bottom: 400px;
    padding-top:  20px;
}
.header{
    padding-top: 60px;
    font-family: 'Courier New', Courier, monospace;
}

section1{
    padding-top:20px;
}
.page-footer{
    background-color: #505050;
}

.login{
    padding-top: 40px;
    margin-top:50px;
    margin-bottom: 40px;
}

#login-card{
    padding-top:40px;
    
}

.login-left-box{
    background-image: url('images/login3.jpg');
    background-repeat:no-repeat;
   
    background-size: auto;
    margin:0px;
    margin-left: -2px; 
    padding: 0px;
    height: 400px;
}

.login-background{
background: rgb(216, 215, 215);
}
.card{
    border-radius: 10px;
}
.login-header{
    padding-top:100px;
    color:#fff;
    font-family:'Courier New', Courier, monospace;
    font-size:25px;
}

.btn{
    background-color: #ff0000;
    padding-top:0px;
    
}
.btn:hover{
    background-color:#6a6a68;
}

.input-field input[type=text]:focus:not([readonly]) {
    border-color: #ff0000;
    box-shadow: #ff0000;
 }

 .signup-left-box{
    background-image: url('images/login.jpg');
    background-repeat:no-repeat;
   
    background-size: auto 600px;
    margin:0px;
    margin-left: -2px; 
    padding: 0px;
    height: 520px;
}

    